/* Sass file containing all global styles */
body {
  font-family: 'Arial';
}

input {
  &:read-only {
    border: none;
  }
}
select {
  &:disabled {
    border: none;
  }
}

table {
  border-collapse: collapse;
}

thead td {
  padding: 4px;
  text-align: left;
  font-size: 10pt;
  background-color: #999999;
  color: #fff;
}

tbody tr {
  border-bottom: 1px solid #999;
}

tbody tr:hover {
  background-color: #999999;
  color: #fff;
  cursor: pointer !important;
  a {
    color: #fff;
  }
}

tbody td {
  padding: 4px;
  text-align: left;
  font-size: 9pt;
}

.content {
  text-align: center;
  display: inline-block;
}

.emphasize {
  font-weight: bold;
  color: #a94442 !important;
}

.form-group {
  input,
  select {
    margin: 2px;
  }
  select {
    height: 27px;
  }
}

.title {
  font-size: 12px;
}

.main-nav {
  padding: 0;
  margin-bottom: 32px;
}

.show-sm-up {
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.show-lg-up {
  @extend .hidden-xs;
  @extend .hidden-sm;
  @extend .hidden-md;
}